<% content_for :page_title do -%>
 Users 
<% end -%>

<div class="std">
 <table class="std">
  <tr>
    <th>Login</th>
    <th>Status</th>
    <th>Group</th>
  </tr>

<% @users.each do |user| %>
  <tr>
    <td><%= link_to user.login, user %></td>
    <td><%= user.state.titleize %></td>
    <td><%= User::GroupToName[user.group]  %></td>
  </tr>
<% end %>
</table>

 
</div>
<br />

<%= link_to 'New User', new_user_path %>
