<h1>New user</h1>

<%= form_for @user, :html => { :multipart => true }  do |f| %>
	<table class="std">
		<tr>
			<td class="field">User Tracker ID (*.tid) : </td>
			<td><%= f.file_field :upload_id %></td>
		</tr>
		<tr>
			<td></td>
			<td><%= f.submit "Upload" %></td>
		</tr>
	</table>
<% end %>

<%= link_to 'Back', users_path %>
