<h1>New attachment</h1>

<%= render 'form' %>

<% if @develement != nil %>
	<%= link_to "Back", [@project,@develement] %>
<% elsif @issue != nil %>
	<%= link_to "Back", [@project,@issue] %>
<% else %>
	<%= link_to "Back", @project %>
<% end %>
